<!DOCTYPE html>
<!--
  NOTE: `data-theme` is required by Pico.
  - https://picocss.com/docs/color-schemes
-->
<html data-controller="theme" data-theme-target="theme" data-theme="light">
  <head>
    <title>Blueprinter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--
      NOTE: Pico - CSS framework (Initially classless version was used, but is too limited in features).
      - https://picocss.com/docs#usage-from-cdn
      - https://x4qtf8.csb.app
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pink.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>Blueprinter</strong></li>
        </ul>
        <ul>
          <li>
            <!--
              NOTE: Partial docs.
              - https://guides.rubyonrails.org/layouts_and_rendering.html#partial-layouts
            -->
            <%= render partial: "layouts/application/header/nav/open_github_repo_link" %>
          </li>
          <li>
            <!--
              NOTE: Sun icon from Tabler.
              - https://tabler.io/icons/icon/sun

              IMPORTANT: Must be kept in sunc with `theme_controller.js`.
            -->
            <a data-action="click->theme#toggle" data-theme-target="icon" aria-label="Turn on dark mode">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 19a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" /><path d="M18.313 16.91l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.218 -1.567l.102 .07z" /><path d="M7.007 16.993a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" /><path d="M4 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" /><path d="M21 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" /><path d="M6.213 4.81l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.217 -1.567l.102 .07z" /><path d="M19.107 4.893a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" /><path d="M12 2a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" /><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" /></svg>
            </a>
          <li>
          <li data-controller="language-selection">
            <%= render partial: "layouts/application/header/nav/open_language_selection_modal" %>
            <%= render partial: "layouts/application/header/nav/language_selection_modal" %>
          </li>
       </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
