<!--
  NOTE: Partial docs.
  - https://guides.rubyonrails.org/layouts_and_rendering.html#partial-layouts
-->
<!DOCTYPE html>
<!--
  NOTE: `data-theme` is required by Pico.
  - https://picocss.com/docs/color-schemes
-->
<html data-controller="theme" data-theme-target="theme" data-theme="light">
  <head>
    <title>Blueprinter</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= render partial: "layouts/application/meta/page_loaded_at" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--
      NOTE: Pico - CSS framework (Initially classless version was used, but is too limited in features).
      - https://picocss.com/docs#usage-from-cdn
      - https://x4qtf8.csb.app
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pink.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>Blueprinter</strong></li>
        </ul>
        <ul>
          <li>
            <%= render partial: "layouts/application/header/nav/open_github_repo_link" %>
          </li>
          <li>
            <%= render partial: "layouts/application/header/nav/toggle_theme_button" %>
          <li>
          <li data-controller="language-selection">
            <%= render partial: "layouts/application/header/nav/open_language_selection_modal_button" %>
            <%= render partial: "layouts/application/header/nav/language_selection_modal" %>
          </li>
       </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
